#header {
  width: 100%;
  background: #444;
  color: #ffc; }
  #header a {
    color: #e0e0e0; }
    #header a:hover {
      color: #fff; }

#branding {
  display: inline-block;
  width: 50%;
  padding: 5px 20px;
  overflow: hidden;
  position: relative; }
  #branding h2 {
    font-size: 13px;
    margin: 0; }
  #branding h1 {
    font-size: 30px;
    font-weight: normal; }
  #branding a:hover {
    text-decoration: none; }
