@import 'core/_vars.scss';
@import 'core/_mixins.scss';
@import 'core/_typography.scss';

@import url('widgets.css');

$labelWidth: 20%;

/* FORM ROWS */

.form-row {
    padding: $baseline 0;
    overflow: hidden;
    border-top: 1px solid #eee;
}

.form-row img {
    vertical-align: top;
}

.hidden {
    display: none;
}

.form-row p {
    @include small-text();
    padding-left: 0;

}

/* FORM LABELS */

label {
    @include small-text();
    font-weight: normal;
    color: #666;
    width: $labelWidth;
    display: inline-block;
}

.required label, label.required {
  font-weight: bold;
  color: $inverse;
}


/* RADIO BUTTONS */

form ul.radiolist li {
    list-style-type: none;
}

form ul.radiolist label {
    float: none;
    display: inline;
}

form ul.inline {
    margin-left: 0;
    padding: 0;
}

form ul.inline li {
    float: left;
    padding-right: 7px;
}

fieldset {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    background: #fcfcfc;
    padding: 6px 10px;
}

fieldset h2 {
  font-size: 18px;

  .collapse-toggle {
    @include small-text();
  }
}


/* ALIGNED FIELDSETS */

.aligned label {
  display: block;
  word-wrap: break-word;
  @include breakpoint(m) {
    float: left;
    padding-right: 10px;
  }
}

.aligned ul label {
    display: inline;
    float: none;
    width: auto;
}

form .aligned p, form .aligned ul {
  @include breakpoint(m) {
    margin-left: $labelWidth;
  }
}

form .aligned table p {
    margin-left: 0;
    padding-left: 0;
}

.aligned .vCheckboxLabel {
    float: none !important;
    display: inline;
    padding-left: 4px;
}

.checkbox-row p.help {
    margin-left: 0;
    padding-left: 0 !important;
}

fieldset .field-box {
    float: left;
    margin-right: 20px;
}

/* WIDE FIELDSETS */

.wide label {
    width: 15em !important;
}

form .wide p {
    margin-left: 15em;
}

form .wide p.help {
    padding-left: 38px;
}


/* COLLAPSED FIELDSETS */

fieldset.collapsed * {
    display: none;
}

fieldset.collapsed h2, fieldset.collapsed,
.collapsed .description {
    display: block !important;
}

fieldset.collapsed h2 {
    color: #999;
}

fieldset.collapsed .collapse-toggle {
    background: transparent;
    display: inline !important;
}

/* MONOSPACE TEXTAREAS */
fieldset.monospace textarea {
    font-family: "Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace;
}

/* SUBMIT ROW */

.submit-row {
    padding: 5px 7px;
    text-align: right;
    border: 1px solid #ccc;
    margin: 5px 0;
    overflow: hidden;
}

body.popup .submit-row {
    overflow: auto;
}

.submit-row input {
    margin: 0 0 0 5px;
}

.submit-row p {
    margin: 0.3em;
}

.submit-row p.deletelink-box {
    float: left;
}

.submit-row .deletelink {
    background: url(../img/icon_deletelink.gif) 0 50% no-repeat;
    padding-left: 14px;
}

/* CUSTOM FORM FIELDS */

.vSelectMultipleField {
    vertical-align: top !important;
}

.vCheckboxField {
    border: none;
}

.vDateField, .vTimeField {
    margin-right: 2px;
}

.vDateField {
    min-width: 6.85em;
}

.vTimeField {
    min-width: 4.7em;
}

.flatpages-flatpage #id_content {
    height: 40.2em;
}

.module table .vPositiveSmallIntegerField {
    width: 2.2em;
}

input[type=text], textarea, select {
  border: 1px solid #ccc;
}

input[type=text], textarea {
  width: 100%;
  padding: 5px;

  @include breakpoint(m) {
    width: 100% - $labelWidth;
  }
}

input[type=text].vIntegerField,
input[type=text].vForeignKeyRawIdAdminField {
    width: 5em;
}

/* INLINES */

.inline-group {
    padding: 0;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.inline-related {
    position: relative;
}

.inline-related h3 {
    margin: 0;
    color: #666;
    padding: 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.inline-related h3 span.delete {
    float: right;
}

.inline-related h3 span.delete label {
    margin-left: 2px;
    font-size: 11px;
}


.inline-related fieldset {
    margin: 0;
    border: none;
    width: 100%;
}

.inline-related fieldset.module h3 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #bcd;
    color: #fff;
}

.inline-group .tabular fieldset.module {
    border: none;
    border-bottom: 1px solid #ddd;
}

.inline-related.tabular fieldset.module table {
    width: 100%;
}

.last-related fieldset {
    border: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 2em;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 0;
    width: 0;
    _position: relative;
}

.inline-group .tabular th.original {
    width: 0px;
    padding: 0;
}

.inline-group .tabular td.original p {
    position: relative;
    left: 0;
    height: auto;
    padding: 2px 7px;
    overflow: hidden;
    font-size: 9px;
    font-weight: bold;
    color: #666;
}


// responsify tables
.inline-related.tabular table {
  @include breakpoint(xs) {
    tr, td {
        display: block;
    }
    thead {
      display: none;
    }
  }
}



.inline-group ul.tools {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-group ul.tools li {
    display: inline;
    padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    color: #666;
    padding: 3px 5px;
    border-bottom: 1px solid #ddd;
}

.inline-group .tabular tr.add-row td {
    padding: 4px 5px 3px;
    border-bottom: none;
}

.inline-group ul.tools a.add,
.inline-group div.add-row a,
.inline-group .tabular tr.add-row td a {
    background: url(../img/icon_addlink.gif) 0 50% no-repeat;
    padding-left: 14px;
    font-size: 11px;
    outline: 0; /* Remove dotted border around link */
}

.empty-form {
    display: none;
}

/* RELATED FIELD ADD ONE / LOOKUP */

.add-another, .related-lookup {
    margin-left: 5px;
    display: inline-block;
}

.add-another {
    width: 10px;
    height: 10px;
}

.related-lookup {
    width: 16px;
    height: 16px;
    background-image: url(../img/selector-search.gif);
}


/* WIDGET OVERRIDES */
.selector,
.selector select,
.selector .selector-available input {
  width: 100%;
  margin: 0
}

.selector-available, .selector-chosen {
  float:none;
  width: 100%;

  @include breakpoint(m) {
    float: left;
    width: 47%;
  }
}

.selector .selector-available h2 {
  background: transparent;
  color: inherit;
}
.selector-available h2, .selector-chosen h2,
.selector .selector-filter {border: 0}

.selector .selector-filter {
  @include small-text();
  padding: 0;

  img {
    display: none;
  }
}

.selector ul.selector-chooser {
  display: none;

  @include breakpoint(m) {
    display: block;
  }
}
.selector-chosen select {
  border: 1px solid #ccc;
}

.filter-widget .help,
.filter-widget label {
  display: none
}
.filter-widget .add-another {
  float: left;
}
