{% extends "admin/base.html" %}
{% load i18n admin_static tango_admin_tags %}

{% block title %}
  {{ title }} | {{ site.name }} {% trans 'Site administration' %}
{% endblock %}

{% block extrastyle %}
   <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>-->
   {{ block.super }}
  {% tango_admin_css %}
{% endblock %}

{% block branding %}
  <h2 class="kicker subhead">
    <a href="/">{% firstof site.name 'Site' %}</a>
  </h2>
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a>
  </h1>
{% endblock %}

{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}
  <select class="url-selector" id="userlinks">
    <option value="">Jump to...</option>
    <option value="/admin/how-to/">{% trans 'Administrator Documentation' %}</option>
    {% if docsroot %}
      <option value="{{ docsroot }}">{% trans 'Developer Documentation' %}</option>
    {% endif %}
    {% if user.has_usable_password %}
      <option value="{% url 'admin:password_change' %}">
        {% trans 'Change password' %}
      </option>
    {% endif %}
    <option value="{% url 'admin:logout' %}">{% trans 'Log out' %}</option>
  </select>

{% endblock %}

{% block messages %}
  <div id="sidebar">
    {% tango_admin_app_list %}
    {{ block.super }}
  </div>
{% endblock %}


{% block nav-global %}{% endblock %}
{% block footer %}
  {{ block.super }}
  <script src="{% static "admin/" %}js/jquery-ui-1.10.3.custom-sortable.min.js"></script>
  <script src="{% static "admin/" %}js/tango_admin_utils.js"></script>
{% endblock %}
